# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.exp
Debug
Release
bin
obj
*.vs
*.user
*.suo
Output
/generators/mbed/data/*.pyc
/DebugPackages/TiXDSDebugPackage/FLASH/CC3220SF/VisualGDB/VisualGDBCache/CC3220SF-Debug
/VendorSampleParsers/stm32/Cache
/VendorSampleParsers/Nordic/Cache
BSPReport.txt
RelocationReport.txt
